<h2><%=@cocktail.name%></h2>


<% @cocktail.doses.each do |dose| %>

<%= dose.description %>
<%= dose.ingredient.name %>
<% end %>

<h3>Add a new dose</h3>
<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.input :description %>
<%= f.input :ingredient_id, collection: Ingredient.all %>
<%= f.submit %>
<% end %>


<div class="text-center">
  <%= link_to "Cancel", cocktail_path(@cocktail), class: "btn btn-primary" %>
</div>
